@{
    ViewBag.Title = "";
}



<div class="jumbotron">
    <h1>BIENVENIDO</h1>
    <p class="lead">U-Commerce, es una pagina de comercio electronico el cual tiene un alcance institucional el cual abarca 
    a todos los estudiantes, directivos y diferentes personas que conforman la comunidad TdeA</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> información &raquo;</a></p>
</div>
